* {
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: center;
    margin: 42px 0 0 0;
}

main {
    margin: 0 100px;
}


/* search section */
.section-search {
    margin: 20px 0;
}

.search-form {
    position: relative;
    display: flex;
    background: #E7E7E7;
    align-items: center;
    border-radius: 5px;
}

#search-bar {
    width: 100%;
    background: #E7E7E7;
    height: 69px;
    border: none;
    padding: 20px;
    font-size: 18px;
}

.search-button {
    background: transparent;
    border: none;
    font-size: 32px;
    padding: 20px;
    cursor: pointer;
}

/* filter section */
.section-filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 121px;
}

.filter-container {
    display: flex;
    gap: 17px;
}

.button-tag {
    border-radius: 5px;
    border: none;
    color: white;
    position: relative;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-tag-blue {
    background: #3282F7;
}

.button-tag-green {
    background: #68D9A4;
}

.button-tag-red {
    background: #ED6454;
}



.filter-menu {
    border-radius: 5px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.filter-menu-blue {
    background: #3282F7;
}

.filter-menu-green {
    background: #68D9A4;
}

.filter-menu-red {
    background: #ED6454;
}



.filter-menu-title {
    display: flex;
    align-items: center;
    height: 69px;
    min-width: 130px;
    font-size: 18px;
    padding: 0 20px;
}

.filter-menu-title::after { /* arrow */
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 18px;
}

.filter-menu-content {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px 20px;
    z-index: 1;
    transform-origin: top left;
    animation-name: dropdownopen;
    animation-duration: 0.3s;
}

.filter-menu-content::after { /* arrow */
    font-family: "Font Awesome 5 Free";
    content: "\f077";
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 25px;
    right: 24px;
}

.filter-menu-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0;
}

.option-item {
    width: 205px;
    height: 22px;
    list-style: none;
    padding: 5px 10px;
}

.option-item:hover {
    background-color: rgb(6, 62, 147, 0.3);
    border-radius: 5px;
}

#filter-search-bar {
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 170px;
    width: 100%;
    margin: 16px 0;
    position: relative;
    color: white;
    font-weight: bold;
}

#filter-search-bar::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button-tag {
    height: 37px;
    width: 107px;
}

.button-tag::after {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    font-weight: 400;
    font-size: 18px;
    margin-left: 13px;
}

/* recipe section */
.card-container {
    margin: 25px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 50px ; 
}

.card {
    height: 364px;
    width: 380px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: #C7BEBE;
}

.card-picture {
    height: 178px;
    width: 380px;
}

.recipe-picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    height: 186px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background: #E7E7E7;
    border-radius: 0 0 5px 5px;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.recipe-title {
    font-weight: normal;
}

.recipe-duration {
    font-weight: bold;
}

.recipe-duration::before {
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    font-weight: 400;
    margin-right: 7px;
}

.recipe-title, .recipe-duration {
    font-size: 18px;
    margin: 0;
}


.content-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.recipe-ingredients, .recipe-notice {
    font-size: 12px;
    margin: 0;
}

.recipe-ingredients {
    width: 171px;
    height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-notice {
    width: 171px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-family: 'Roboto';
}

.ingredients-item {
    display: flex;
    align-items: center;;
}

.ingredients-name {
    font-weight: 700;
    word-break: break-all;
}

.ingredients-qty {
    padding-left: 3px;
}

.ingredients-item h3, .ingredients-item p {
    margin: 0;
}


@keyframes dropdownopen {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
}