* {
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: center;
    margin: 42px 0 0 0;
}

main {
    margin: 0 100px;
}


/* search section */
.section-search {
    margin: 20px 0;
}

.search-form {
    position: relative;
    display: flex;
    background: #E7E7E7;
    align-items: center;
    border-radius: 5px;
}

#search-bar {
    width: 100%;
    background: #E7E7E7;
    height: 69px;
    border: none;
    
    padding: 20px;
    font-size: 18px;
    color: #ABACAB;
    
}

.search-button {
    background: transparent;
    border: none;
    font-size: 32px;
    padding: 20px;
    cursor: pointer;
}

/* filter section */
.section-filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-container {
    display: flex;
    gap: 20px;
}

.button-filter {
    border-radius: 5px;
    color: white;
    border: none;
    position: relative;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-filter-blue {
    background: #3282F7;
}

.button-filter-green {
    background: #68D9A4;
}

.button-filter-red {
    background: #ED6454;
}

.dropdown-menu {
    height: 69px;
    width: 170px;
    font-size: 18px;
}

.dropdown-menu::after { /* arrow */
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 18px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button-tag {
    height: 37px;
    width: 107px;
}

.button-tag::after {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    font-weight: 400;
    font-size: 18px;
    margin-left: 13px;
}

/* recipe section */
.card-container {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* min gap */
    gap: 50px ; 
}

.card {
    height: 364px;
    width: 380px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: #C7BEBE;
    margin-bottom: 50px;
}

.card-picture {
    height: 178px;
    width: 380px;
}

.recipe-picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    height: 186px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background: #E7E7E7;
    border-radius: 0 0 5px 5px;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.recipe-title {
    font-weight: normal;
}

.recipe-duration {
    font-weight: bold;
}

.recipe-duration::before {
    font-family: "Font Awesome 5 Free";
    content: "\f017";
    font-weight: 400;
    margin-right: 7px;
}

.recipe-title, .recipe-duration {
    font-size: 18px;
    margin: 0;
}


.content-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.recipe-ingredients, .recipe-notice {
    font-size: 12px;
}

.recipe-ingredients {
    width: 171px;
    height: 109px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recipe-notice {
    width: 171px;
    height: 109px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
}

.recipe-notice p {
    margin: 0;
}

.ingredients-item {
    display: flex;
    align-items: center;;
}

.ingredients-item p {
    padding-left: 3px;
}

.ingredients-item h3, .ingredients-item p {
    margin: 0;
}